body {
  font-style: "Montserrat non-serif";
}

.navbar{
  background-color: #034f84;
  color: white;
}

header {
  background-color: white;
  text-align: center;
  color: #B73E3E;
}

header img {
  width: 200px;
  height: 100px;
  text-align: center;
}

.Welcome img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: solid white 5px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.MainPage {
  color: #FFF7E9;
  background-image: url('/images/cabo.jpeg');
  background-size: 1800px;
  text-align: center;
}

.location {
  color: #034f84;
}

.title-text {
    font-style: "Ubuntu, non-serif";
    font-weight: 900;
    font-size: 50px;
    animation: texclip 1.5s linear infinite;
    background: linear-gradient(to right,#034f84 10%, #667292 50%, #45c983 60%);
    background-clip: border-box;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    margin-top: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.MainPage h1 {
  font-size: 100px;
}

.story {
  font-size: 30px;
  text-align: center;
  color: lightgray;
  padding-top: 100px;
  padding-bottom: 300px;
}

.story p {
  font-weight: 500;
  font-size: 20px;
  color: lightgray;
}

.story img {
  height: 200px;
  width: 250px;
  border-radius: 10%;
  border: solid white 5px;
  margin: 25px;
}

.photoGallery {
  background-color: #034f84;
  padding-bottom: 100px;
}

.photoGallery h2 {
  color: white;
  text-align: center;
}

.photoGallery h5 {
  color: #034f84;
  text-align: center;
  background-color: #ff6f3c;
}

.menuGallery {
  padding-top: 30px;
  text-align: center;
}

.menuGallery img {
  width: 100%;
}

.menuGallery h6 {
  color: gray;
  text-align: center;
  background-color: white;
  margin-top: 8px;
  text-decoration: none;
}

.cocktailGallery {
  padding-top: 30px;
  text-align: center;
  
}

.cocktailGallery img {
  width: 100%;
}

.cocktailGallery h6 {
  color: gray;
  text-align: center;
  background-color: white;
  margin-top: 8px;
  text-decoration: none;
}

.menu {
  /* background-image: url('/images/food/omelette.jpeg'); */
  background-size: 1800px;
  color: white;
}



footer {
  color: darkgray;
  background-color: black;
  text-align: center;
}
